{% extends "base.html" %}

{% block style %}
    .table{border-color: #e80000;
    padding: 3%;
    position: absolute;
    left: 20%;
    right: 20%;
}
.cells-shadow {
    background: #bdcbe0; /* Цвет фона */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;
}

{% endblock %}
{% block title %}Tasks{% endblock %}

{% block page %}
    <div class="text-page page-content">
        <p><a href="{% url "edit-theme" theme.id_theme %}">{{ theme.name }}</a></p>
            <p>{{ theme.short_description }}</p>
            <p>{{ theme.color }}</p>
             {% if count == 0 %}s
            <h> You don't have theme's tasks. Add any task!</h>

            {% else %}
            <table class=" table">
                <tbody>
                <tr>
                {% for task in tasks %}
                    <td></td>
                    <td class="cells-shadow text-cells">
                        <p><a href="{% url "edit-task" task.id_task %}">{{ task.name }}</a></p>
                        <p>{{ task.short_description }}</p>
                        <p>{{ task.deadline }}</p>
                        <form action="" method="post">
                        <p><input type="checkbox" name="task" id="{{task.id }}" value="{{ task.id }}"  >Done</p>
                        </form>
{#                    <a href="{% url 'one-picture' art_picture.id%}" title="{{art_picture.name}}" text-align="top">#}
{#                             </a>#}
                    </td>
                    <td></td>

                {% endfor %}
                </tr>
            </tbody>
            </table>
            {% endif %}
    </div>

 {% endblock %}